# Byte-compiled / cached files
__pycache__/
_minted-*/
.*_cache/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
.env/
env/

# Dependency directories
dist/
build/

# Editor/IDE files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# PDF assets not needed in version control
src/swift_book_pdf/assets/
!src/swift_book_pdf/assets/chapter-icon.png
!src/swift_book_pdf/assets/chapter-icon~dark.png
!src/swift_book_pdf/assets/Swift_logo_color.png
!src/swift_book_pdf/assets/Swift_logo_white.png

# EPUB assets not needed in version control
!src/swift_book_pdf/assets/Swift_logo_color_epub.png
src/swift_book_pdf/assets/epub_reference/
!src/swift_book_pdf/assets/epub_reference/cover.png
!src/swift_book_pdf/assets/epub_reference/cover-beta.png
!src/swift_book_pdf/assets/epub_reference/epub.css
!src/swift_book_pdf/assets/epub_reference/pygments.css
