  <div class="section" id="{{ notices.section_id }}">
    <h1>{{ notices.title }}</h1>

    <p>
      This edition of <em>The Swift Programming Language</em> was generated
      using <a href="{{ notices.swift_book_pdf_repo_url }}"><em>swift-book-pdf</em></a>.
      This publication includes styling and supporting assets derived from <em>swift-book-pdf</em>.
      These materials are Copyright &#169; 2026 Evangelos Kassos and are
      licensed under the Apache License, Version 2.0.
    </p>

    <p>
      This edition is derived from the <em>swift-book</em> source and is a
      modified version of the original work, converted and formatted for
      distribution.
    </p>

    <p>
      The <em>swift-book</em>
      <a href="{{ notices.swift_book_repo_url }}">repository</a> is part of the
      Swift.org open source project. The <em>swift-book</em> source is licensed
      under the Apache License, Version 2.0 with Runtime Library Exception.
      See <a href="{{ notices.swift_license_url }}">{{ notices.swift_license_url }}</a>
      for details. The original work is Copyright &#169;{% if notices.original_work_years %} {{ notices.original_work_years }}{% endif %} Apple Inc. and the Swift project authors.
      The Swift project authors are credited at <a href="{{ notices.swift_contributors_url }}">{{ notices.swift_contributors_url }}</a>.
    </p>

    <p>
      Swift is a trademark of Apple Inc. This edition is not published by,
      endorsed by, or affiliated with Apple Inc. or the Swift.org open source
      project.
    </p>

    <p>
      This edition uses IBM Plex Sans and IBM Plex Serif, Copyright &#169; 2017
      IBM Corp. with Reserved Font Name "Plex", licensed under the SIL Open
      Font License 1.1.
    </p>

    <h2>Apache License 2.0</h2>
<pre>{{ notices.apache_license_text }}</pre>

    <h2>IBM Plex Font License</h2>
<pre>{{ notices.ibm_plex_ofl_text }}</pre>
  </div>
